:root{
    --bs-body-color:#5d0c23;
}

/* Navbar */
.navbar{
    background-color: #ffeef1;
}
.navbar-brand{
    color: var(--bs-body-color);
    font-family: 'Courier New', Courier, monospace;

}
.nav-link{
    color: black;
}
.nav-link:hover{
    color: #d41f68;
    font-weight: bold;
}

    /* Home Section */
#home{
    background-color: rgb(251, 203, 211);
}

.home-content{
    max-width: 50%;
}
.home-content h3{
    color: #dc4f77;
}
.home-content .btn{
    background-color: #d41f68;
    border: none;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.404);
}
.home-content .btn:hover{
    background-color: var(--bs-body-color);
}
.img{
    max-height: 500px !important;
}

/* About section */
/* the carousel images style */
#carouselImages{
    width: 350px;
    height: 400px;
    border-radius: 20px;
    box-shadow: 2px 2px 10px rgba(36, 36, 36, 0.404);
}

.carousel-item {
    height: 100% !important;
}

.carousel-inner {
    height: 100% !important;
}

#carouselImages .carousel-item img {
    height: 100% !important;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
}
/* the content style */
#about h2,#reviews h2{
    color: var(--bs-body-color);
    font-family: 'Courier New', Courier, monospace;  
}
.about-para{
    max-width: 50%;
}
.about-para .lead{
    font-size: 1.10em;
}

/* Reviews Section */
#carouselReviews{
    width: 80%;
    min-height: 250px;
    border-radius: 30px;
    background-color: #ffeef1;
    box-shadow: 2px 2px 10px rgba(36, 36, 36, 0.404);
}

    /* Responsive Design */
@media (max-width: 767px) {
    .home-content{
        max-width: 100%;
        text-align: center;
    }
    .img{
        margin-top: 20px;
        max-height: 300px !important;
    }
    .about-para{
        max-width: 100%;
    }
    #carouselImages {
        width: 100%;
        max-width: 300px;
        margin: 0 auto;
    }
    #carouselReviews{
        width: 90%;
    }
}

